In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns

import matplotlib.pyplot as plt

In [ ]:
TD = pd.read_excel('Tableau_Declarations-Prealables-Embauche.xlsx',header=0)
TD.head()

In [ ]:
TD.index

In [ ]:
mask_CDD = TD['Nature_de_contrat'].str.match("CDD.*")
CDD=TD[mask_CDD]
 
rng = pd.date_range('2000 Jan 1', periods=len(CDD), freq='MS')
CDD.index = rng
CDD

In [ ]:
mask_CDI = TD['Nature_de_contrat'].str.match("CDI.*")
CDI=TD[mask_CDI]
rng = pd.date_range('2000 Jan 1', periods=len(CDI), freq='MS')
CDI.index = rng
CDI.describe()

In [ ]:
ax= CDI.plot(y=["DPAE_brut"],style='-')
CDI.resample('BA').mean().plot(y=["DPAE_brut"],style=':',ax=ax,figsize=(20,8))

CDI.boxplot(column=["DPAE_brut"], by='Annee', figsize=(20,8))
CDI.boxplot(column=["DPAE_brut"], by='Trimestre', figsize=(10,8))

In [ ]:
ax= CDD.plot(y=["DPAE_brut"],style='-')
CDD.resample('BA').mean().plot(y=["DPAE_brut"],style=':',ax=ax,figsize=(20,8))

CDD.boxplot(column=["DPAE_brut"], by='Annee', figsize=(20,8))
CDD.boxplot(column=["DPAE_brut"], by='Trimestre', figsize=(10,8))

In [29]:
EES = pd.read_excel('Tableau_Emploi-Salarie-Trimestre-National_09032022.xlsx',index_col=0)

In [30]:
EES.head(5)

,idBank,Dernière mise à jour,Période,1970-T4,1971-T1,1971-T2,1971-T3,1971-T4,1972-T1,1972-T2,...,2019-T3,2019-T4,2020-T1,2020-T2,2020-T3,2020-T4,2021-T1,2021-T2,2021-T3,2021-T4
Libellé,,,,,,,,,,,,,,,,,,,,,
"Emplois salariés trimestriels - Secteurs principalement marchands - Toutes sections hors A, O, P, Q et U - CVS - Série arrêtée",1577239,12/05/2017 00:00,NaN,12409.6,12418.8,12485.6,12576.1,12628.8,12689,12735.9,...,(O),(O),(O),(O),(O),(O),(O),(O),(O),(O)
"Emplois salariés trimestriels - Industrie - Sections B, C, D et E - CVS",1577235,09/03/2022 07:30,NaN,5447.9,5466.3,5494.7,5529.1,5534.1,5543.1,5563.8,...,3166,3165.2,3153.7,3130,3122.5,3110.2,3117.4,3120.8,3126.3,3131.3
Emplois salariés trimestriels - Construction - Section F - CVS,1577236,09/03/2022 07:30,NaN,1760.3,1759.6,1764.1,1767.8,1761.1,1757.3,1757.3,...,1423.5,1431.7,1434,1438.1,1454.2,1462.5,1493.5,1494.5,1493,1499.3
"Emplois salariés trimestriels - Tertiaire marchand - Sections G, H, I, J, K, L, M, N, R, S, T - CVS",1577237,09/03/2022 07:30,NaN,5349.1,5340.5,5375.2,5428.6,5483.5,5539.3,5566,...,12525.8,12581.9,12130.9,12025.3,12302.5,12231.7,12329.9,12606.7,12715.9,12815.1
"Emplois salariés trimestriels - Industries extractives, énergie, eau, gestion des déchets et dépollution - A17 : DE - CVS",1577241,09/03/2022 07:30,NaN,293.2,293.5,293.9,294.2,294.3,294.6,294.5,...,376.8,377.3,377.4,376.1,376.9,376.9,378.9,380.1,380.5,381

In [31]:
EES_A = EES.replace("(O)",pd.NA)

In [ ]:
EES_A.head()

In [32]:
EES_A.isna().sum()
EES_NET = EES_A.drop(["idBank","Dernière mise à jour", "Période"],axis=1)

In [33]:
EES_NET.head(5)

,1970-T4,1971-T1,1971-T2,1971-T3,1971-T4,1972-T1,1972-T2,1972-T3,1972-T4,1973-T1,...,2019-T3,2019-T4,2020-T1,2020-T2,2020-T3,2020-T4,2021-T1,2021-T2,2021-T3,2021-T4
Libellé,,,,,,,,,,,,,,,,,,,,,
"Emplois salariés trimestriels - Secteurs principalement marchands - Toutes sections hors A, O, P, Q et U - CVS - Série arrêtée",12409.6,12418.8,12485.6,12576.1,12628.8,12689,12735.9,12815.4,12922.1,13009.7,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
"Emplois salariés trimestriels - Industrie - Sections B, C, D et E - CVS",5447.9,5466.3,5494.7,5529.1,5534.1,5543.1,5563.8,5589.5,5627.5,5669.5,...,3166,3165.2,3153.7,3130,3122.5,3110.2,3117.4,3120.8,3126.3,3131.3
Emplois salariés trimestriels - Construction - Section F - CVS,1760.3,1759.6,1764.1,1767.8,1761.1,1757.3,1757.3,1758.1,1769,1773.5,...,1423.5,1431.7,1434,1438.1,1454.2,1462.5,1493.5,1494.5,1493,1499.3
"Emplois salariés trimestriels - Tertiaire marchand - Sections G, H, I, J, K, L, M, N, R, S, T - CVS",5349.1,5340.5,5375.2,5428.6,5483.5,5539.3,5566,5619.8,5678.9,5720.8,...,12525.8,12581.9,12130.9,12025.3,12302.5,12231.7,12329.9,12606.7,12715.9,12815.1
"Emplois salariés trimestriels - Industries extractives, énergie, eau, gestion des déchets et dépollution - A17 : DE - CVS",293.2,293.5,293.9,294.2,294.3,294.6,294.5,295,295.4,295.7,...,376.8,377.3,377.4,376.1,376.9,376.9,378.9,380.1,380.5,381

In [34]:
EES_NET=EES_NET.dropna(axis=0)

In [35]:
EES_NET.head(5)

,1970-T4,1971-T1,1971-T2,1971-T3,1971-T4,1972-T1,1972-T2,1972-T3,1972-T4,1973-T1,...,2019-T3,2019-T4,2020-T1,2020-T2,2020-T3,2020-T4,2021-T1,2021-T2,2021-T3,2021-T4
Libellé,,,,,,,,,,,,,,,,,,,,,
"Emplois salariés trimestriels - Industrie - Sections B, C, D et E - CVS",5447.9,5466.3,5494.7,5529.1,5534.1,5543.1,5563.8,5589.5,5627.5,5669.5,...,3166,3165.2,3153.7,3130,3122.5,3110.2,3117.4,3120.8,3126.3,3131.3
Emplois salariés trimestriels - Construction - Section F - CVS,1760.3,1759.6,1764.1,1767.8,1761.1,1757.3,1757.3,1758.1,1769,1773.5,...,1423.5,1431.7,1434,1438.1,1454.2,1462.5,1493.5,1494.5,1493,1499.3
"Emplois salariés trimestriels - Tertiaire marchand - Sections G, H, I, J, K, L, M, N, R, S, T - CVS",5349.1,5340.5,5375.2,5428.6,5483.5,5539.3,5566,5619.8,5678.9,5720.8,...,12525.8,12581.9,12130.9,12025.3,12302.5,12231.7,12329.9,12606.7,12715.9,12815.1
"Emplois salariés trimestriels - Industries extractives, énergie, eau, gestion des déchets et dépollution - A17 : DE - CVS",293.2,293.5,293.9,294.2,294.3,294.6,294.5,295,295.4,295.7,...,376.8,377.3,377.4,376.1,376.9,376.9,378.9,380.1,380.5,381
"Emplois salariés trimestriels - Fabrication de denrées alimentaires, de boissons et de produits à base de tabac - A17 : C1 - CVS",507.1,508.2,514.3,523,514.5,510.8,510.7,519.7,520.1,523.1,...,587.6,590.4,589.3,582.9,589,589.2,597.7,603.1,608.6,612.1

In [38]:
EES_NET.loc['total'] = EES_NET.sum(numeric_only=False, axis=0)

In [45]:
EES_NET.tail(3)

,1970-T4,1971-T1,1971-T2,1971-T3,1971-T4,1972-T1,1972-T2,1972-T3,1972-T4,1973-T1,...,2019-T3,2019-T4,2020-T1,2020-T2,2020-T3,2020-T4,2021-T1,2021-T2,2021-T3,2021-T4
Libellé,,,,,,,,,,,,,,,,,,,,,
Emplois salariés trimestriels - Activités financières et d'assurance - A38 : KZ - CVS,383.3,387.4,394.3,401.6,410.4,420.2,428.4,437.9,446.1,453.9,...,882.5,881.4,877.6,872.6,869.7,867.1,870.3,873.3,875.7,877.8
Emplois salariés trimestriels - Activités immobilières - A38 : LZ - CVS,114.6,114.5,115.8,117.5,119.5,121.4,123.1,125,126.9,129,...,250.1,250.2,248.3,246.2,245.3,244.7,247.2,245.5,243,241.2
total,63429.2,63477.8,63831.8,64296.8,64554.2,64872.6,65102.6,65532.4,66089.4,66541.4,...,86911.2,87278.6,85268.4,84489.0,85804.2,85429.2,86078.8,87558.6,88088.4,88641.2

In [49]:
EES_TOTAL = EES_NET.loc['total']
EES_TOTAL

1970-T4    63429.2
1971-T1    63477.8
1971-T2    63831.8
1971-T3    64296.8
1971-T4    64554.2
            ...
2020-T4    85429.2
2021-T1    86078.8
2021-T2    87558.6
2021-T3    88088.4
2021-T4    88641.2
Name: total, Length: 205, dtype: object

In [48]:
EES_NET.index

Index(['Emplois salariés trimestriels - Industrie - Sections B, C, D et E - CVS',
       'Emplois salariés trimestriels - Construction - Section F - CVS',
       'Emplois salariés trimestriels - Tertiaire marchand - Sections G, H, I, J, K, L, M, N, R, S, T - CVS',
       'Emplois salariés trimestriels - Industries extractives, énergie, eau, gestion des déchets et dépollution - A17 : DE - CVS',
       'Emplois salariés trimestriels - Fabrication de denrées alimentaires, de boissons et de produits à base de tabac - A17 : C1 - CVS',
       'Emplois salariés trimestriels - Cokéfaction et raffinage - A17 : C2 - CVS',
       'Emplois salariés trimestriels - Fabrication d'équipements électriques, électroniques, informatiques, fabrication de machines - A17 : C3 - CVS',
       'Emplois salariés trimestriels - Fabrication de matériels de transport - A17 : C4 - CVS',
       'Emplois salariés trimestriels - Fabrication d'autres produits industriels - A17 : C5 - CVS',
       'Emplois salariés trimestriels - Construction - A17 : FZ - CVS',
       'Emplois salariés trimestriels - Commerce, réparation d'automobiles et de motocycles - A17 : GZ - CVS',
       'Emplois salariés trimestriels - Transports et entreposage - A17 : HZ - CVS',
       'Emplois salariés trimestriels - Hébergement et restauration - A17 : IZ - CVS',
       'Emplois salariés trimestriels - Information et communication - A17 : JZ - CVS',
       'Emplois salariés trimestriels - Activités financières et d'assurance - A17 : KZ - CVS',
       'Emplois salariés trimestriels - Activités immobilières - A17 : LZ - CVS',
       'Emplois salariés trimestriels - Activités scientifiques et techniques, services administratifs et de soutien - A17 : MN - CVS',
       'Emplois salariés trimestriels - Autres activités de services (hors activités extra-territoriales) - A17 : RU - CVS',
       'Emplois salariés trimestriels - Fabrication de denrées alimentaires, de boissons et de produits à base de tabac - A38 : CA - CVS',
       'Emplois salariés trimestriels - Cokéfaction et raffinage - A38 : CD - CVS',
       'Emplois salariés trimestriels - Fabrication de matériels de transport - A38 : CL - CVS',
       'Emplois salariés trimestriels - Construction - A38 : FZ - CVS',
       'Emplois salariés trimestriels - Commerce, réparation d'automobiles et de motocycles - A38 : GZ - CVS',
       'Emplois salariés trimestriels - Transports et entreposage - A38 : HZ - CVS',
       'Emplois salariés trimestriels - Hébergement et restauration - A38 : IZ - CVS',
       'Emplois salariés trimestriels - Activités financières et d'assurance - A38 : KZ - CVS',
       'Emplois salariés trimestriels - Activités immobilières - A38 : LZ - CVS',
       'total'],
      dtype='object', name='Libellé')

In [ ]:
EES_NET[:4]

In [ ]:
secteur1 = EES_NET.iloc[[1]]
secteur2 = EES_NET.iloc[[2]]
secteur3 = EES_NET.iloc[[3]]
secteur4 = EES_NET.iloc[[4]]

In [ ]:
secteur1

In [ ]:
secteur2

In [ ]:
secteur3

In [ ]:
secteur4

Question 2 :

In [ ]:
from statsmodels.tsa.seasonal import seasonal_decompose
decomposition = seasonal_decompose(CDD["DPAE_brut"], period=12) 


plt.figure(figsize=(25,8))
plt.plot(CDD.index, CDD["DPAE_brut"], 'k')
plt.legend(['Cases'])
plt.figure(figsize=(25,8))
plt.plot(CDD.index,decomposition.trend)
plt.plot(CDD.index,decomposition.seasonal)
plt.plot(CDD.index,decomposition.resid)
plt.legend(['Trend', 'Seasonal', 'Resid'])

In [ ]:
from statsmodels.tsa.seasonal import seasonal_decompose
decomposition = seasonal_decompose(CDI["DPAE_brut"], period=12) 


plt.figure(figsize=(25,8))
plt.plot(CDI.index, CDI["DPAE_brut"], 'k')
plt.legend(['Cases'])
plt.figure(figsize=(25,8))
plt.plot(CDI.index,decomposition.trend)
plt.plot(CDI.index,decomposition.seasonal)
plt.plot(CDI.index,decomposition.resid)
plt.legend(['Trend', 'Seasonal', 'Resid'])